.level-button{
    /* position:fixed; */
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin: 20px;
    opacity: 0.70;
    font-size: xx-large;
}

#selection-buttons{
    position: fixed;
    left: 35%;
    top: 35%;
}
.level-button:hover{
    cursor: pointer;
    opacity: 1;
}
.select-text{
    position:absolute;
    font-size:5ch; 
    left: 30px;
    top: -75px;
}