.level-button{
    /* position:fixed; */
    border-radius: 10px;
    width: 70px;
    height: 70px;
    margin: 20px;
    opacity: 0.70;
    font-size: xx-large;
}

#selection-buttons{
    position: fixed;
    left: 35%;
    top: 35%;
}
.level-button:hover{
    cursor: pointer;
    opacity: 1;
}
.select-text{
    position:absolute;
    font-size:5ch; 
    left: 30px;
    top: -75px;
}



@media only screen and (max-width: 600px) {
    .level-button{
        width: 60px;
        height: 60px;
        margin: 15px;
        font-size: xx-large;
    }
    
    #selection-buttons{
        position: fixed;
        left: 20%;
        top: 35%;
    }
    .select-text{
        position:absolute;
        font-size:3.5ch; 
        left: 35px;
        top: -70px;
    } 
}

@media only screen and (max-width: 390px) {
    .level-button{
        width: 45px;
        height: 45px;
        margin: 15px;
        font-size: xx-large;
    }    
    #selection-buttons{
        position: fixed;
        left: 15%;
        top: 35%;
    }
    .select-text{
        position:absolute;
        font-size:3.5ch; 
        left: 30px;
        top: -70px;
    }
}

