.level-button{
    border-radius: 10px;

    position:relative;
    width: 70px;
    height: 70px;
    margin: 20px;
    left: 450px;
    top: 50px ;
    opacity: 0.70;
    font-size: xx-large;


}
.level-button:hover{
    cursor: pointer;
    opacity: 1;
}
.select-text{
    position: relative; 
    top: 50px;
    left:480px;
    font-size:5ch; 
}