
@import "level1.css";
@import "levels-style.css";
@import "start-game.css";
@import "login-register-style.css";
@import "nav-style.css";
@import "Level-selection.css";
@import "Level-complete.css";




body{
    background-image: url("../images/viber_image_2022-04-15_16-21-54-292.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    margin: 0;
}

.help{
    position:absolute;
    left: 20px;
    top: 60px;
}
.help-b{
    width: 100px;
    height: 40px;
    margin: 10px;
    opacity: 0.7;

}

.help-b:hover{
    cursor: pointer;
    opacity: 1;
}
