
@import "level1.css";
@import "levels-style.css";
@import "start-game.css";
@import "login-register-style.css";
@import "nav-style.css";


body{
    background-image: url("../images/viber_image_2022-04-15_16-21-54-292.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;
    margin: 0;
}






